<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="TestData/CommonData.config">

    <add key="WeatherForecastAPI" value="http://api.openweathermap.org/data/2.5/forecast" />
    <add key="WeatherAPI" value="http://api.openweathermap.org/data/2.5/weather" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>